html,body{
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #0f0f0f;
    scroll-behavior: smooth;
}

.cadastro_content{
    background-color: #990002;
    padding: 20px;
    border-radius: 15px;
    width: 35%; /* Could be more or less, depending on screen size */
}

.titleCad{
    text-align: center;
    color: #e8e8e8;
}

.cadastroForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

label{
    color: #e8e8e8;
}

hr{
    width: 100%;
}

.inputCadastro{
    padding: 15px;
    margin-bottom: 10px;
}

.inputButton{
    padding: 15px;
    background-color: #212121;
    color: #e8e8e8;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.login_content{
    padding: 20px;
    border-radius: 15px;
    width: 35%; 
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.btn_style{
    padding: 10px;
    width: 120px;
    font-size: 15px;
    border: none;
    margin-bottom: 5px;
    background-color: #990002;
    color: #e8e8e8;
    border-radius: 5px;
}

.showPassword{
    position: relative;
    left: 90%;
    margin-top: -42.5px;
    margin-bottom: 45px;
    cursor: pointer;
}